{{!
  navigation.hbs
  The site navigation.
  This partial will display in index.hbs
}}
<nav class="site">
    <div class="wrapper">
        <a class="logo" href="/">SCONES</a>
        <ul class="main-links">
            <div class="wrapper">
                <li><a href="/page/cat">Link 1</a></li>
                <li><a href="/page/dog">Link 2</a></li>
                <li><a href="/page/fish">Link 3</a></li>
                <li><a href="/page/lizzard">Link 4</a></li>
                <li><a href="/page/gerbil">Link 5</a></li>
            </div>
        </ul>
    </div>
</nav>
