<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>

    Sports Vertical

    Articles
    Stats
    Teams
    Schedule

    Logging
    Tracking

    Deployments/Upgrades


    -------------
    STEP #1 ASSETS - On AWS

    STEP #2 - Move CMS to AWS

    -------------
    MAIN SITE MAINTENANCE
        - Swimsuit
        - SI - App
        - NFL/MBA Draft
        - Golf nonsense
        - 100 Greatest Sports Moments (Video Project)

    Harry - Done with SI Kids ==> SI Rewrite

    July - Testing

    MOMENT - Design studio - Design complete by May (???)

    Personalization - will exist on Homepage only (at first)

    Tealium

</head>
<body>

</body>
</html>